<ul class="navbar-nav ml-auto" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
    <li class="nav-item dropdown no-arrow d-sm-none">
        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-search fa-fw"></i>
        </a>
        <!-- Dropdown - Messages -->
        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
            <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </li>

    <!-- Nav Item - Alerts -->
    <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <!-- Counter - Alerts -->
            <span class="badge badge-danger badge-counter" id="notifications" th:text="${notificationcount}">0</span>
        </a>
        <!-- Dropdown - Alerts -->
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in overflow-auto menu-scroll"  aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">
                Alerts Center
            </h6>

            <a th:each="notifications : ${notification}" class="dropdown-item d-flex align-items-center" th:href="@{'/notification/' + ${notifications.getId()} }">
                <div class="mr-3">
                    <div class="icon-circle bg-primary">
                        <i class="fas fa-file-alt text-white"></i>
                    </div>
                </div>

                <div class="small text-gray-500" th:text="${notifications.getDate()}"></div>
                <span  th:if="${ notifications.getSeen() }"  th:text="${notifications.getNotificationBody()}"> </span>
                <!-- ELSE -->
                <span
                        th:if="${not notifications.getSeen()}" class="font-weight-bold" th:text="${notifications.getNotificationBody()}" > </span>
            </a>


            <a th:if="${notification.size()>0}" class="dropdown-item text-center small text-gray-500" th:href="@{/notification}">Show All Alerts</a>
        </div>
    </li>


    <!-- Nav Item - Messages -->
    <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-envelope fa-fw"></i>
            <!-- Counter - Messages -->
            <span class="badge badge-danger badge-counter" id="messages" th:text="${requestcount}">0</span>
        </a>
        <!-- Dropdown - Messages -->
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in overflow-auto menu-scroll" aria-labelledby="messagesDropdown">
            <h6 class="dropdown-header">
                Message Center
            </h6>

            <!--<a th:each="notifications : ${notification}" class="dropdown-item d-flex align-items-center" th:href="@{'/notification/' + ${notifications.getId()} }">-->
            <a th:each="request:${helpRequest}" class="dropdown-item d-flex align-items-center" th:href="@{'/helprequest/' + ${request.getId()} }">

                <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                    <div class="status-indicator bg-warning"></div>
                </div>

                <div class="small text-gray-500" th:text="${request.getDateCreated()}"></div>
                <span  th:if="${ request.isSeen() }"  th:text="${notifications.getNotificationBody()}"> </span>
                <!-- ELSE -->
                <span
                        th:if="${not notifications.getSeen()}" class="font-weight-bold" th:text="${notifications.getNotificationBody()}" > </span>
            </a>

                <div>
                    <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                </div>
            </a>

        </div>

    </li>

</ul>