<div>

<ul class="navbar-nav ml-auto" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">



    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
    <li class="nav-item dropdown no-arrow d-sm-none">
        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-search fa-fw"></i>
        </a>
        <!-- Dropdown - Messages -->
        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
            <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </li>

    <!-- Nav Item - Alerts -->
    <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <!-- Counter - Alerts -->
            <span class="badge badge-danger badge-counter" id="notifications" th:text="${notificationcount}">0</span>
        </a>
        <!-- Dropdown - Alerts -->
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in overflow-auto menu-scroll"  aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">
                Notifications
            </h6>


            <!--start of notifications area-->
            <div class="notification">
            <!--unseen notifications-->
                <div th:each="notifications : ${notification}">

                    <div th:if="${ not notifications.getSeen()}" >

                        <a class="dropdown-item d-flex align-items-center" href="#" th:name="${'/notification/' +notifications.getId()}  ">

                            <div class="mr-3">
                                <div class="icon-circle bg-primary">
                                    <i class="fas fa-envelope-open text-white"></i>
                                </div>
                            </div>

                            <div>

                                <div  class="small text-gray-500 text-truncate" th:text="${notifications.getNotificationBody()}" > </div>
                                <div class="small text-gray-500 font-weight-bold" >anonymous</div>
                                <!--th:text="${'by '+notifications.getCreatedBy().getUsername()} + ' on' + ${notifications.getDate()-->

                            </div>
                        </a>

                    </div>

                </div>

            <!--seen notifications-->
            <div th:each="notifications : ${notification}">

                <div th:if="${ notifications.getSeen()}" >

                    <a class="dropdown-item d-flex align-items-center" href="#" th:name="${'/notification/' +notifications.getId()}  ">

                        <div class="mr-3">
                            <div class="icon-circle bg-primary">
                                <i class="fas fa-envelope-open text-white"></i>
                            </div>
                        </div>

                        <div>

                        <div  class="small text-gray-500 text-truncate" th:text="${notifications.getNotificationBody()}" > </div>
                        <div class="small text-gray-500 font-weight-bold" >anonymous</div>
                            <!--th:text="${'by '+notifications.getCreatedBy().getUsername()} + ' on' + ${notifications.getDate()}"-->

                        </div>
                    </a>

                </div>

            </div>

                <a th:if="${notification.size()>0}" class="dropdown-item text-center small text-gray-500" th:href="@{/notification}">Show All Alerts</a>

        </div>



        </div>

        <!--end of notification area-->
    </li>


    <!-- Nav Item - Messages -->
    <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-envelope fa-fw"></i>
            <!-- Counter - Messages -->
            <span class="badge badge-danger badge-counter" id="messages" th:text="${requestcount}">0</span>
        </a>
        <!-- Dropdown - Messages -->
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in overflow-auto menu-scroll" aria-labelledby="messagesDropdown">
            <h6 class="dropdown-header">
                assistance requests
            </h6>


            <div class="help-request" >
            <!--unseen requests-->
            <div th:each="request:${helpRequest}">
                <div th:if="${ not request.isSeen()}" >
                    <a   class="dropdown-item d-flex align-items-center" href="#" th:name="${'/helprequest/' +request.getId()}" >

                        <div class="mr-3">
                            <div class="icon-circle bg-primary">
                                <i class="fas fa-envelope text-white"></i>
                            </div>
                        </div>

                        <div>
                            <div  class="text-dark-50 text-truncate" th:text="${request.getMessage()}"></div>
                            <div  class="small text-gray-500 font-weight-bold" th:text="${'by '+request.getFrom().getUsername()+request} + ' on' + ${request.getDateCreated()}">anonymous</div>
                        </div>
                    </a>
                </div>

            </div>

            <!--seen requests-->
            <div th:each="request:${helpRequest}">
                <div th:if="${ request.isSeen()}" >
                    <a   class="dropdown-item d-flex align-items-center" href="#" th:name="${'/helprequest/' +request.getId()}  ">

                        <div class="mr-3">
                            <div class="icon-circle bg-primary">
                                <i class="fas fa-envelope-open text-white"></i>
                            </div>
                        </div>

                        <div>
                            <div  class="small text-gray-500 text-truncate" th:text="${request.getMessage()}"></div>
                            <div  class="small text-gray-500 font-weight-bold" th:text="${'by '+request.getFrom().getUsername()+request} + ' on' + ${request.getDateCreated()}">anonymous</div>
                        </div>
                    </a>
                </div>

            </div>

        </div>

        </div>

    </li>

    <script>
        $('.notification  a').click(
            function() {
                var txt = $(this).attr('name');
                $.ajax({
                    type: "get",
                    url: txt,
                    dataType:'html',
                    success: function (data) {

                        $('#dynamic-content').html(data);
                    }
                });
            });



        $('.help-request  a').click(
            function() {
                var txt = $(this).attr('name');
                console.log(txt);
                $.ajax({
                    type: "get",
                    url: txt,
                    dataType:'html',
                    success: function (data) {

                        $('#dynamic-content').html(data);
                    }
                });
            })
    </script>

</ul>

</div>