<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">

    <div class="card shadow mb-4" >
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered dataTable table-hover table-striped "  id="help-request-datatable" width="100%" cellspacing="0">
                    <thead >
                    <tr>
                        <th>description</th>
                        <th>error snippet</th>
                        <th>times encountered</th>
                        <th>solved</th>
                        <th>creator</th>



                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th>description</th>
                        <th>error snippet</th>
                        <th>times encountered</th>
                        <th>solved</th>
                        <th>creator</th>
                    </tr>
                    </tfoot>
                    <tbody>

                    <div th:if="${collaerror != null  }">
                        <tr >
                            <td th:text="${collaerror.getDescription()}"></td>
                            <td th:text="${collaerror.getErrorSnipet()}"  ></td>
                            <td th:text="${collaerror.getEncounteredTimes()}"></td>
                            <td th:text="${collaerror.isSolved()}"></td>
                            <td th:text="${collaerror.getCreateddBy().getUsername()}"></td>

                        </tr>
                    </div>

                    </tbody>
                </table>

                <!-- end of  issues user requested for help -->





            </div>
        </div>
    </div>
    <!--start of comments by the users  section-->
<div>

    <ul class="comment-section">

        <li class="comment user-comment">

            <div class="info">
                <a href="#">Anie Silverston</a>
                <span>4 hours ago</span>
            </div>

            <a class="avatar" href="#">
                <img src="images/avatar_user_1.jpg" width="35" alt="Profile Avatar" title="Anie Silverston" />
            </a>

            <p>Suspendisse gravida sem?</p>

        </li>

        <li class="comment author-comment">

            <div class="info">
                <a href="#">Jack Smith</a>
                <span>3 hours ago</span>
            </div>

            <a class="avatar" href="#">
                <img src="images/avatar_author.jpg" width="35" alt="Profile Avatar" title="Jack Smith" />
            </a>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse gravida sem sit amet molestie portitor.</p>

        </li>

        <li class="comment user-comment">

            <div class="info">
                <a href="#">Bradley Jones</a>
                <span>1 hour ago</span>
            </div>

            <a class="avatar" href="#">
                <img src="images/avatar_user_2.jpg" width="35" alt="Profile Avatar" title="Bradley Jones" />
            </a>

            <p>Suspendisse gravida sem sit amet molestie portitor?</p>

        </li>

        <li class="comment author-comment">

            <div class="info">
                <a href="#">Jack Smith</a>
                <span>1 hour ago</span>
            </div>

            <a class="avatar" href="#">
                <img src="images/avatar_author.jpg" width="35" alt="Profile Avatar" title="Jack Smith" />
            </a>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisee gravida sem sit amet molestie porttitor.</p>

        </li>

        <li class="write-new">

            <form action="#" method="post">

                <textarea placeholder="Write your comment here" name="comment"></textarea>

                <div>
                    <img src="images/avatar_user_2.jpg" width="35" alt="Profile of Bradley Jones" title="Bradley Jones" />
                    <button type="submit">Submit</button>
                </div>

            </form>

        </li>

    </ul>
</div>
    <!--end of comments by the users  section-->



    <script>


    </script>

</div>