<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">

    <div class="card shadow mb-4" >
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered dataTable table-hover table-striped "  id="help-request-datatable" width="100%" cellspacing="0">
                    <thead >
                    <tr>
                        <th>description</th>
                        <th>error snippet</th>
                        <th>times encountered</th>
                        <th>solved</th>
                        <th>creator</th>



                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th>description</th>
                        <th>error snippet</th>
                        <th>times encountered</th>
                        <th>solved</th>
                        <th>creator</th>
                    </tr>
                    </tfoot>
                    <tbody>

                    <div th:if="${collaerror != null  }">
                        <tr >
                            <td th:text="${collaerror.getDescription()}"></td>
                            <td th:text="${collaerror.getErrorSnipet()}"  ></td>
                            <td th:text="${collaerror.getEncounteredTimes()}"></td>
                            <td th:text="${collaerror.isSolved()}"></td>
                            <td th:text="${collaerror.getCreateddBy().getUsername()}"></td>

                        </tr>
                    </div>

                    </tbody>
                </table>

                <!-- end of  issues user requested for help -->





            </div>
        </div>
    </div>
    <!--start of comments by the users  section-->
<div>


    <ul class="comment-section" th:each="comment:${collaerror.getComments()}" >



        <li th:class="${session.id == collaerror.getCreateddBy().getId() } ? 'comment author-comment' : 'comment user-comment' " >

            <div class="info">

                <span th:text="${comment.getDateCreated()}"></span>
            </div>

            <span class="avatar">
                <img src="images/avatar_user_2.jpg" width="35" alt="Profile Avatar" th:title="${comment.getCreatedBy().getUsername()}" />
            </span>

            <p th:text="${comment.getCommentBody()}"></p>

        </li>

    </ul>

<ul>
    <li class="write-new">

        <form id="comment-form" method="post">

            <input type="text"  placeholder="Write your comment here" name="comment"/>
            <input type="text" hidden th:value="${collaerror.getId()}" name="collaErrorId">

            <div>
                <img src="images/avatar_user_2.jpg" width="35" alt="Profile of Bradley Jones" title="Bradley Jones" />
                <button id="submit-comment" type="submit">Submit</button>
            </div>

        </form>

    </li>
</ul>

</div>
    <!--end of comments by the users  section-->



    <script>

        $('#submit-comment').click(


            function() {
                $.ajax({
                    type: "post",
                    data:$("#comment-form").serialize(),
                    url: '/comment',
                    dataType:'html',
                    success: function (data) {

                        $('#dynamic-content').html(data);
                    }
                });
            })


    </script>

</div>